body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*display: flex; justify-content: center;*/
    min-height: 100vh;
    color: white;
}


.list-container {
    background-color: #222423;
    margin-top: 1rem;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    gap: 2rem;
    width: auto;
    grid-template-columns: repeat(1, 1fr);
}


@media (min-width: 600px) {
    .list-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 900px) {
    .list-container {
        grid-template-columns: repeat(3, 1fr);
    }
}


.game {
    background-color: #373837;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    height: auto;
}

.game:hover {
    background-color: #ffffff;
    color: black;
    transform: scale(1.1);

}

.coverArt {
    width: 100%;
    height: auto;
    border-radius: 6px;
    display: block;
    object-fit: cover;
}

.title {
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: center;
    background-color: #0d320e;
    padding: 20px;
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}

.title-otherworld {
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: center;
    background-color: #821111;
    padding: 20px;
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}

.navTitle {
    font-size: 2rem;
}

.nav {
    background-color: #0d320e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;

}

.nav a {
    color: inherit;
    text-decoration: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: .25rem;
    align-items: stretch;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.activeLink {
    background-color: #026306;
}

.nav li:hover {
    background-color: #043b06;
}